<div class='body-container'>
    <h1> All teams index Page </h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <ul>
                <% @teams[0..7].each do |t| %>
                    <li style="list-style-type: none;">
                        <h5><%= link_to t.name, team_path(t) %></h5>
                    </li>
                <% end %>
                </ul>
            </div>
        <div class="col-sm">
            <ul>
            <% @teams[8..15].each do |t| %>
                <li style="list-style-type: none;">
                    <h5><%= link_to t.name, team_path(t) %></h5>
                </li>
            <% end %>
            </ul>
        </div>
        <div class="col-sm">
            <ul>
            <% @teams[16..23].each do |t| %>
                <li style="list-style-type: none;">
                    <h5><%= link_to t.name, team_path(t) %></h5>
                </li>
            <% end %>
            </ul>
        </div>
        <div class="col-sm">
            <ul>
            <% @teams[24..31].each do |t| %>
                <li style="list-style-type: none;">
                    <h5><%= link_to t.name, team_path(t) %></h5>
                </li>
            <% end %>
            </ul>
        </div>
  </div>
</div>
</div>