<div class='body-container'>
<br>
    <div class='inline'>
        <h1> League Players </h1>
       <h6> <%= render 'search' %> </h6>
    </div>
    <br>
    <% @users.each do |user| %>
        <ul>
            <li> <%= link_to user.first_name, user_path(user)%> </li>
        </ul>
    <% end %>
    
</div>