<div class='body-container'>
<br>
    <h1> League Standings </h1>

    <% @users.each do |user| %>
        <ul>
            <li> <%= link_to user.first_name, user_path(user)%> </li>
        </ul>
    <% end %>
    
</div>