<div class='body-container'>
    <div class="text-center">
        <%= render 'intro'%>
    </div>

    <div class="row">
        <div class="col-sm-6">  <%= render 'form'%> </div>
        <div class="col-sm-6"> 
            <% weekly_games.each do |g| %>
                <p> <%= matchup g%> </p>
            <% end %>
        </div>
    </div>
</div>