<div class='body-container'>
<br>
<p> Click on the latest pick to Edit </p>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Week</th>
      <th>Picked Team</th>
      <th>Date Picked</th>
      <th>Outcome</th>
    </tr>
  </thead>
  <tbody>
    <% @picks.each do |p|%>
    <tr>
      <td>Week <%= p.week.id%></td>
      <td><%= link_to p.team.name, edit_user_pick_path(p.user, p) %></td>
      <td><%= p.updated_at%></td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>