<br>
<table class="table" style="width:75%; text-align:center">
  <thead class="thead-dark">
    <tr>
      <th>Week</th>
      <th>Picked Team</th>
      <th>Date Picked</th>
      <th>Outcome</th>
    </tr>
  </thead>
  <tbody>
    <% @picks.each do |p|%>
    <tr>
      <td>Week <%= p.week.id%></td>
      <td><%= p.team.name%></td>
      <td><%= p.updated_at%></td>
    </tr>
    <%end%>
  </tbody>
</table>